body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.metaContainer{
    display: flex;
    flex-direction: column
}

.containerTest {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
  }
  
  .scoreboardTest {
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 2;
  }  
  
  .urnsTest {
    width: 100vw;
    height: 70vh;
    /* min-height: 10000vh; */
    position: relative;
    overflow: scroll;
  } 

  .causalQuestion {
    position: sticky;
    text-align: center;
    background-color: lightgrey
  }

  